header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
  }
  
.logo {
    display: inline-block;
    height: 30px;
    width:100px;
    margin: 20px 20PX;
    padding-left: 20px;
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    background-position: left center;
}